html, body, #root, .App {
  width: 100%;
  height: 100%;
  background-color: var(--LightL);
}

#root {
  display: flex;
  flex-direction: row;
}

nav {
  width: 30%;
  height: 100vh;
  min-width: 30%;
  min-height: 100%;

  background-color: aqua;
}

main {
  width: 70%;
  height: 100vh;
  min-width: 70%;
  min-height: 100%;
}

.panel {
  position: fixed;
  z-index: 2;
}
