:root {
  --color0: #fff;
  --color1: #121838;
  --color2: #969e53;
  --color3: #777;
}

* {
  box-sizing: border-box;
  position: relative;
}
*::placeholder { color: var(--color3); }
html, body, #root, .App {
  width: 100vw;
  height: 100vh;
  background-color: var(--LightL);
}

#root {
  display: flex;
  flex-direction: row;
}

nav {
  width: 30%;
  height: 100vh;
  min-width: 30%;
  min-height: 100%;

  background-color: aqua;
}

main {
  width: 70%;
  height: 100vh;
  min-width: 70%;
  min-height: 100%;
  overflow-y: auto;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* PORTAL PAGE ===== */
main.portal { 
  width: 100%; 
  background-color: var(--color1);
}

/* registration portal */
main.portal div.register-container, main.portal .header-wide, main.portal .body {
  width: inherit;
  height: inherit;
  min-width: inherit;
  min-height: inherit;
}
main.portal .header-wide, main.portal .body {
  min-height: auto;
  padding: 30px;
  padding-left: 80px;
}
main.portal .header-wide {
  max-height: 30%;
  background-color: var(--color0);
}
main.portal .body { max-height: 70%; }
main.portal .form-container {
  position: fixed;
  height: 60%;
  width: 40%;
  top: 50%;
  left: 50%;
  display: flex;  
  flex-flow: column;
  transform: translate(-50%, -50%);

  overflow: auto;
  padding: 30px;
  background-color: var(--color2);
}
main.portal .form-container .header { padding-bottom: 45px; }
main.portal .form-container .header * { margin: 0; }

main.portal .form-container .input-container { 
  width: 100%; 
  height: fit-content; 
}
main.portal .form-container .input-container p { margin: 0; }
main.portal .form-container .input-container input { 
  width: 100%; 
  color: var(--color1);
}
main.portal form { flex: 1 1 auto; }
main.portal form>div { width: 100%; }
main.portal form>div:first-of-type>div { padding: 5px 0; }

/* front page */
main.portal * { color: var(--color0); }
main.portal button { color: var(--color1); }
main.portal .action { padding-top: 80px; }
main.portal .action p { margin: 5px 0; }
main.portal button.admin {
  position: fixed;
  top: 0;
  left: 50px;
  padding: 12px 6px 1px 6px;
  z-index: 3;
}

main.portal .header .onhover {
  position: absolute;
  text-align: center;
  opacity: 0;
}
main.portal .header:hover .onhover { opacity: 1; }
main.portal .header:hover .main { opacity: 0; }

main.portal .nav2 { 
  position: fixed;
  bottom: 20px;
  right: 25px;
  font-size: 14px;
}
main.portal ol li { padding-left: 20px; }
main.portal ol li:first-of-type { padding-left: 0; }

/* ADMIN PAGE ===== */
.save-panel { 
  width: 100vw;
  padding: 10px;
  background-color: salmon;
  position: fixed;
  z-index: 3;
  opacity: 0;
}
.save-panel:hover {
  opacity: 1; 
}
.panel {
  position: fixed;
  z-index: 2;
}

/* editor container */
.editor { padding: 25px; }
.editor, .editor>div { height: fit-content; }
/* text feature*/
.editor-text-box {
  width: 100%;
  height: fit-content;
}
.editor-text-box {
  border: 1px inset salmon; 
}
[contenteditable][placeholder]:empty:before {
  background-color: transparent;
  content: attr(placeholder);
  color: gray;
}
.text-block { padding: 25px; }
.text-block p {
  white-space: pre;
  word-wrap: break-word;
  word-break: normal;
}
/* spacer feature */
.editor-spacer { border: 1px inset transparent; }
.editor-spacer:hover { border: 1px inset salmon; }
.editor-spacer, .spacer-block { min-width: fit-content; min-height: fit-content; }
.spacer-size { width: 100px; }
.spacer-unit { width: 35px; }
/* gallery feature */
.editor-gallery textarea{
  min-width: 100%;
  min-height: 100px;
}
.gallery-block {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
}
.image-preview { width: 12em; }
/* image feature */
.image-block { overflow: hidden; }
.link-block { width: 100%; }

/* POSITIONING */
.vrtCC, .vrtTL, .vrtTR, .vrtTC, .vrtBL, .vrtBR, .vrtBC, .vrtBT, .vrtEV, .vrtCL, .hrzCC, .hrzCR, .hrzTL, .hrzTR, .hrzTC, .hrzBT, .hrzEV {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.vrtCC, .hrzCC {
  justify-content: center;
  align-items: center;
}

.vrtBL, .vrtBR, .vrtBC { justify-content: flex-end;}
.vrtTC, .hrzCR { align-items: center; }
.vrtTR { align-items: flex-end; }
.hrzCC, .hrzCR, .hrzTL, .hrzTR, .hrzTC, .hrzBT, .hrzEV { flex-direction: row; }
.hrzCR, .hrzTR { justify-content: flex-end; }
.vrtCL, .hrzTC { justify-content: center; }
.hrzBT, .vrtBT { justify-content: space-between; }
.hrzEV, .vrtEV { justify-content: space-evenly; }

/* STYLES */
.styleMega { 
  font-size: 3em; 
  margin: 5px 0;
}
.style1, .style2 { margin: 0; font-weight: bold; }
.style1 { font-size: 2em; }
.style2 { font-size: 1.17em; }